[package]
name = "kitsune-search"
edition.workspace = true
version.workspace = true

[dependencies]
async-trait = "0.1.73"
diesel = "2.1.1"
diesel-async = "0.4.1"
diesel_full_text_search = { version = "2.1.0", default-features = false }
enum_dispatch = "0.3.12"
futures-util = "0.3.28"
kitsune-db = { path = "../kitsune-db" }
kitsune-language = { path = "../kitsune-language" }
serde = { version = "1.0.188", features = ["derive"] }
speedy-uuid = { path = "../../lib/speedy-uuid" }
strum = { version = "0.25.0", features = ["derive"] }
thiserror = "1.0.48"

# "kitsune-search" feature
bytes = { version = "1.5.0", optional = true }
kitsune-search-proto = { path = "../../kitsune-search-server/proto", optional = true }
tonic = { version = "0.10.0", optional = true }

# "meilisearch" feature
meilisearch-sdk = { version = "0.24.2", optional = true }
tracing = "0.1.37"

[features]
default = []
kitsune-search = ["dep:bytes", "dep:kitsune-search-proto", "dep:tonic"]
meilisearch = ["dep:meilisearch-sdk"]
