[package]
name = "example-mrf"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true
build = "build.rs"

[lib]
crate-type = ["cdylib"]

[dependencies]
rand = "0.8.5"
wit-bindgen = "0.30.0"

[lints]
workspace = true
