<!DOCTYPE html>
<html lang="en">

<head>
    <title>Post - Kitsune</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/colours.css" />
    <link rel="stylesheet" href="/public/post-style.css" />

    <style type="text/css">
        .posts__main * {
            background-color: var(--dark2);
        }
    </style>
</head>

<body>
    <div class="posts__ancestors">
        {% for ancestor in ancestors %}
        {{ ancestor }}
        {% endfor %}
    </div>

    <div class="posts__main">
        {{ post }}
    </div>

    <div class="posts__descendants">
        {% for descendant in descendants %}
        {{ descendant }}
        {% endfor %}
    </div>

    {% include "footer.html" %}
</body>

</html>