# Documentation builds
/dist
/docs/book

# Rust target directories
target
target-analyzer

# Build-time generated CSS artifacts
/kitsune/assets-dist

# Redis dump
/dump.rdb

# Upload directory
/uploads

# Production configuration file
/config.toml

# Devenv stuff
/result
/.devenv
/.pre-commit-config.yaml
