[profile.dev.package]
backtrace = { opt-level = 3 }
num-bigint-dig = { opt-level = 3 }

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
codegen-units = 1
lto = true
strip = true

[workspace]
exclude = ["xtask"]
members = [
    "crates/kitsune-activitypub",
    "crates/kitsune-blocking",
    "crates/kitsune-cache",
    "crates/kitsune-captcha",
    "crates/kitsune-config",
    "crates/kitsune-core",
    "crates/kitsune-db",
    "crates/kitsune-email",
    "crates/kitsune-embed",
    "crates/kitsune-federation",
    "crates/kitsune-federation-filter",
    "crates/kitsune-http-client",
    "crates/kitsune-http-signatures",
    "crates/kitsune-jobs",
    "crates/kitsune-language",
    "crates/kitsune-mastodon",
    "crates/kitsune-messaging",
    "crates/kitsune-observability",
    "crates/kitsune-oidc",
    "crates/kitsune-retry-policies",
    "crates/kitsune-scss-compiler",
    "crates/kitsune-search",
    "crates/kitsune-service",
    "crates/kitsune-storage",
    "crates/kitsune-test",
    "crates/kitsune-type",
    "crates/kitsune-url",
    "crates/kitsune-util",
    "crates/kitsune-webfinger",
    "kitsune",
    "kitsune-cli",
    "kitsune-job-runner",
    "lib/athena",
    "lib/cursiv",
    "lib/http-compat",
    "lib/masto-id-convert",
    "lib/post-process",
    "lib/speedy-uuid",
    "lib/tower-x-clacks-overhead",
    "xtask",
]
resolver = "2"

[workspace.lints.clippy]
all = "warn"
pedantic = "warn"

cast_lossless = "allow"
cast_possible_truncation = "allow"
cast_possible_wrap = "allow"
cast_sign_loss = "allow"
module_name_repetitions = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"

[workspace.lints.rust]
forbidden_lint_groups = "allow"
rust_2018_idioms = "forbid"

[workspace.package]
authors = ["Kitsune developers"]
edition = "2021"
version = "0.0.1-pre.4"

# Config for 'cargo dist'
[workspace.metadata.dist]
# Whether to pass --all-features to cargo build
all-features = true
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.5.0"
# CI backends to support
ci = ["github"]
# The installers to generate for each app
installers = ["powershell", "shell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "aarch64-apple-darwin",
    "x86_64-apple-darwin",
    "x86_64-unknown-linux-musl",
    "x86_64-pc-windows-msvc",
]
# Publish jobs to run in CI
pr-run-mode = "plan"
