
[profile.release]
lto = true
strip = true

[workspace]
members = [
    "kitsune",
    "kitsune-cache",
    "kitsune-cli",
    "kitsune-db",
    "kitsune-http-client",
    "kitsune-http-signatures",
    "kitsune-messaging",
    "kitsune-search",
    "kitsune-search-server",
    "kitsune-search-server/proto",
    "kitsune-storage",
    "kitsune-type",
    "post-process",
]
resolver = "2"

[workspace.package]
version = "0.0.1-pre.1"

[patch.crates-io] # Patch to get client credential support for async
oxide-auth = { git = "https://github.com/aumetra/oxide-auth.git", branch = "aumetra/fix-send-issue" }
oxide-auth-async = { git = "https://github.com/aumetra/oxide-auth.git", branch = "aumetra/fix-send-issue" }
