[profile.dev.package.backtrace]
opt-level = 3

[profile.dev.package.num-bigint-dig]
opt-level = 3

[profile.release]
codegen-units = 1
lto = true
strip = true

[workspace]
members = [
    "crates/kitsune-cache",
    "crates/kitsune-captcha",
    "crates/kitsune-db",
    "crates/kitsune-email",
    "crates/kitsune-embed",
    "crates/kitsune-http-client",
    "crates/kitsune-http-signatures",
    "crates/kitsune-language",
    "crates/kitsune-messaging",
    "crates/kitsune-search",
    "crates/kitsune-storage",
    "crates/kitsune-type",
    "kitsune",
    "kitsune-cli",
    "kitsune-search-server",
    "kitsune-search-server/proto",
    "lib/athena",
    "lib/just-retry",
    "lib/post-process",
    "lib/speedy-uuid",
]
resolver = "2"

[workspace.package]
version = "0.0.1-pre.2"

[patch.crates-io] # Patch to get client credential support for async
oxide-auth = { git = "https://github.com/HeroicKatora/oxide-auth.git", rev = "89467ba1d7a6e18f1ce3f5c4b3b8e900917b8431" }
oxide-auth-async = { git = "https://github.com/HeroicKatora/oxide-auth.git", rev = "89467ba1d7a6e18f1ce3f5c4b3b8e900917b8431" }
