
[profile.release]
codegen-units = 1
lto = true
strip = true

[workspace]
members = [
    "kitsune",
    "kitsune-cache",
    "kitsune-cli",
    "kitsune-db",
    "kitsune-embed",
    "kitsune-http-client",
    "kitsune-http-signatures",     #
    "kitsune-job",
    "kitsune-messaging",
    "kitsune-search",
    "kitsune-search-server",
    "kitsune-search-server/proto",
    "kitsune-storage",
    "kitsune-type",
    "lib/athena",
    "lib/post-process",
    "lib/speedy-uuid",
]
resolver = "2"

[workspace.package]
version = "0.0.1-pre.1"

[patch.crates-io] # Patch to get client credential support for async
oxide-auth = { git = "https://github.com/HeroicKatora/oxide-auth.git", rev = "89467ba1d7a6e18f1ce3f5c4b3b8e900917b8431" }
oxide-auth-async = { git = "https://github.com/HeroicKatora/oxide-auth.git", rev = "89467ba1d7a6e18f1ce3f5c4b3b8e900917b8431" }
