[Unit]
Description = Kitsune Social Media Server
After=network.target caddy.service postgresql.service redis.service

!!!
Delete all of the "!" and everything inside of them before use.
Assumes caddy use for reverse proxy. If you use something else I believe you can edit the above line and replace "caddy.service" with, for example,
nginx.service (Not exact nginx service name) and I think it will still work fine.
!!!

[Service]
Type=simple
User=kitsune
Environment="RUST_LOG=debug"
WorkingDirectory=/path-to-kitsune-root-folder
ExecStart=/path-to-kitsune-executable /path-to-kitsune-config
Restart=on-failure

[Install]
WantedBy=multi-user.target
