@theme {
	--color-dark-1: #1c1626;
	--color-dark-2: #2b233a;
	--color-dark-3: #042f40;

	--color-shade1-dark: #ff9e55;
	--color-shade1-light: #afd7fa;

	--color-shade2-dark: #935d7e;
	--color-shade2-light: #d68fbc;
}
