@use "../../kitsune-fe/src/styles/colours" as *;
@use "../../kitsune-fe/src/styles/mixins" as *;

* {
  font-family: "Courier New", Courier, monospace;
}

a {
  font-weight: 500;
  color: $shade1light;
  text-decoration: inherit;
}

body {
  //background-image: url("/public/assets/BG.webp");
  //background-size: cover;
  //backdrop-filter: blur(2.5px) saturate(1.4);
  //background-position: center;
  //background-repeat: no-repeat;

  background-color: $dark1;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.header {
  font-size: 4.3rem;
  color: $shade2light;
  text-shadow: $shade2dark 3px 3px 4.5px;
  line-height: 100%;
  margin: 25px auto;

  @include only-on-mobile {
    font-size: 42px;
    color: $shade2light;
    text-shadow: $shade2dark 3px 3px 4.5px;
    line-height: 100%;
    margin: 25px auto;
  }
}

form,
.message {
  background: linear-gradient(to top left, $dark2, $dark1);
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to left, $shade1light, $shade1dark);
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

form {
  padding: 8vh 4.5vh;

  & .field {
    width: 280px;
    min-height: 30px;
    margin: 10px auto;
    margin-bottom: 20px;
    border: 0.5px solid $shade2light;
    border-radius: 2px;
    font-size: 20px;

    @include only-on-mobile {
      width: 200px;
      min-height: 25px;
      margin: 10px auto;
      margin-bottom: 20px;
      border: 0.5px solid $shade2light;
      border-radius: 2px;
      font-size: 16px;
    }
  }
}

.message,
.consent-forms form {
  padding: 2vh;
}

div.consent-forms {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.label {
  text-transform: uppercase;
}

.disclaimer {
  background: linear-gradient(to right, $dark2, $dark1);
  padding: 2vh;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left, $shade1light, $shade1dark);
  font-size: 16px;
  font-weight: bold;
  max-width: 80%;

  @include only-on-mobile {
    font-size: 13px;
    max-width: 70%;
    text-align: center;
    border-width: 3px;
  }
}

.authUsername,
.appName {
  color: $shade2light;
  font-weight: bold;
}

.appName {
  text-transform: uppercase;
}

.formButton {
  background-color: $shade2dark;
  border: 0.5px solid $shade2light;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    background-color: $shade2light;
    color: $dark1;
    transition: 0.3s;
  }

  @include only-on-mobile {
    padding: 8px;
    font-size: 16px;
    width: 80px;
  }
}

.tokenContainer {
  background: linear-gradient(to top left, $dark2, $dark1);
  padding: 8vh 4.5vh;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to left, $shade1light, $shade1dark);
  font-size: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.token {
  border: 0.5px solid $shade2light;
  width: 400px;
  padding: 20px 10px;
  text-align: center;
  overflow-x: auto;
  font-weight: bold;

  &::-webkit-scrollbar {
    width: 0.5em;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $shade2dark;
    outline: 1px solid $dark2;
  }

  @include only-on-mobile {
    max-width: 250px;
  }
}

@include only-on-mobile {
  form,
  .tokenContainer {
    padding: 6vh 4vh;
    font-size: 16px;
    border-width: 3px;
  }
}
