[package]
name = "kitsune-oidc"
authors.workspace = true
edition.workspace = true
version.workspace = true

[dependencies]
deadpool-redis = "0.13.0"
enum_dispatch = "0.3.12"
http = "0.2.11"
hyper = "0.14.27"
kitsune-config = { path = "../kitsune-config" }
kitsune-http-client = { path = "../kitsune-http-client" }
miette = "5.10.0"
moka = { version = "0.12.1", features = ["sync"] }
once_cell = "1.18.0"
openidconnect = { version = "3.4.0", default-features = false, features = [
    # Accept these two, per specification invalid, cases to increase compatibility
    "accept-rfc3339-timestamps",
    "accept-string-booleans",
] }
redis = "0.23.3"
serde = { version = "1.0.193", features = ["derive"] }
simd-json = "0.13.4"
speedy-uuid = { path = "../../lib/speedy-uuid", features = ["serde"] }
thiserror = "1.0.50"
url = "2.5.0"

[lints]
workspace = true
