[package]
name = "xtask"
edition = "2021"
version = "0.0.0"
publish = false

[dependencies]
anyhow = "1.0.75"
argh = "0.1.12"
glob = "0.3.1"
rsass = "0.28.6"
tracing = { version = "0.1.40", default-features = false }
tracing-subscriber = { version = "0.3.18", default-features = false, features = [
    "ansi",
    "fmt",
] }
