[package]
name = "kitsune-cache"
edition.workspace = true
version.workspace = true

[dependencies]
deadpool-redis = "0.13.0"
enum_dispatch = "0.3.12"
moka = { version = "0.12.1", features = ["sync"] }
redis = "0.23.3"
serde = "1.0.192"
simd-json = "0.13.4"
thiserror = "1.0.50"
tracing = "0.1.40"
typed-builder = "0.18.0"

[dev-dependencies]
tokio = { version = "1.33.0", features = ["macros", "rt"] }
