[package]
name = "kitsune-cache"
edition.workspace = true
version.workspace = true

[dependencies]
async-trait = "0.1.73"
deadpool-redis = "0.12.0"
derive_builder = "0.12.0"
enum_dispatch = "0.3.12"
moka = "0.11.3"
redis = "0.23.3"
serde = "1.0.188"
simd-json = "0.10.7"
thiserror = "1.0.48"
tracing = "0.1.37"

[dev-dependencies]
tokio = { version = "1.32.0", features = ["macros", "rt"] }
