[package]
name = "kitsune-cache"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
enum_dispatch = "0.3.13"
moka = { version = "0.12.5", features = ["future"] }
multiplex-pool = { path = "../../lib/multiplex-pool" }
redis = { version = "0.25.3", default-features = false, features = [
    "connection-manager",
    "tokio-comp",
] }
serde = "1.0.197"
simd-json = "0.13.9"
thiserror = "1.0.58"
tracing = "0.1.40"
typed-builder = "0.18.1"

[dev-dependencies]
tokio = { version = "1.37.0", features = ["macros", "rt"] }

[lints]
workspace = true
