@use 'colours' as *;

* {
	font-family: 'Courier New', Courier, monospace;
}

:root {
	background-color: $dark1;
	color: white;

	color-scheme: light dark;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;

	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	color: $shade2light;
	font-weight: 500;
	text-decoration: inherit;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;

	overflow-x: hidden;
	overflow-y: scroll;
}

h1,
ul {
	color: $text1;
}

::-webkit-scrollbar {
	width: 0.666em;
	height: 0.666em;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background-color: $shade2light;
}
