@use 'colours' as *;
@use '../styles/fonts' as *;

* {
  font-family: BlockZone;
  box-sizing: inherit;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: $dark1;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: $shade2light;
  text-decoration: inherit;
}

body {
  margin: 0;
  margin-top: 75px;
}

::-webkit-scrollbar {
  width: 0.666em;
  height: 0.666em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: $shade2light;
}
