[package]
name = "kitsune-activitypub"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
async-trait = "0.1.77"
autometrics = { version = "1.0.1", default-features = false }
base64-simd = "0.8.0"
diesel = "2.1.4"
diesel-async = "0.4.1"
futures-util = "0.3.30"
headers = "0.4.0"
http = "1.0.0"
iso8601-timestamp = "0.2.17"
kitsune-cache = { path = "../kitsune-cache" }
kitsune-config = { path = "../kitsune-config" }
kitsune-core = { path = "../kitsune-core" }
kitsune-db = { path = "../kitsune-db" }
kitsune-embed = { path = "../kitsune-embed" }
kitsune-federation-filter = { path = "../kitsune-federation-filter" }
kitsune-http-client = { path = "../kitsune-http-client" }
kitsune-http-signatures = { path = "../kitsune-http-signatures" }
kitsune-language = { path = "../kitsune-language" }
kitsune-search = { path = "../kitsune-search" }
kitsune-service = { path = "../kitsune-service" }
kitsune-type = { path = "../kitsune-type" }
kitsune-url = { path = "../kitsune-url" }
kitsune-util = { path = "../kitsune-util" }
mime = "0.3.17"
mime_guess = { version = "2.0.4", default-features = false }
rsa = "0.9.6"
scoped-futures = "0.1.3"
serde = "1.0.197"
sha2 = "0.10.8"
simd-json = "0.13.8"
speedy-uuid = { path = "../../lib/speedy-uuid" }
thiserror = "1.0.57"
tracing = "0.1.40"
typed-builder = "0.18.1"
url = "2.5.0"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
sha2 = { version = "0.10.8", features = ["asm"] }

[dev-dependencies]
http-body-util = "0.1.0"
hyper = "1.1.0"
kitsune-config = { path = "../kitsune-config" }
kitsune-test = { path = "../kitsune-test" }
kitsune-webfinger = { path = "../kitsune-webfinger" }
pretty_assertions = "1.4.0"
serial_test = "3.0.0"
tokio = { version = "1.36.0", features = ["macros"] }
tower = { version = "0.4.13", default-features = false, features = ["util"] }

[lints]
workspace = true
