[package]
name = "kitsune-config"
edition.workspace = true
version.workspace = true

[dependencies]
eyre = "0.6.9"
serde = { version = "1.0.192", features = ["derive"] }
smol_str = { version = "0.2.0", features = ["serde"] }
tokio = { version = "1.34.0", features = ["fs"] }
toml = { version = "0.8.8", default-features = false, features = ["parse"] }
