[package]
name = "kitsune-config"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
isolang = { version = "2.4.0", features = ["serde"] }
miette = "7.2.0"
serde = { version = "1.0.197", features = ["derive"] }
smol_str = { version = "0.2.1", features = ["serde"] }
tokio = { version = "1.37.0", features = ["fs"] }
toml = { version = "0.8.12", default-features = false, features = ["parse"] }

[lints]
workspace = true
