[package]
name = "kitsune-storage"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
bytes = "1.6.0"
derive_more = { version = "1.0.0-beta.6", features = ["from"] }
futures-util = "0.3.30"
kitsune-error = { path = "../kitsune-error" }
kitsune-s3 = { path = "../kitsune-s3" }
rusty-s3 = { version = "0.5.0", default-features = false }
tokio = { version = "1.37.0", features = ["fs", "io-util"] }
tokio-util = { version = "0.7.11", features = ["io"] }
triomphe = "0.1.11"

[dev-dependencies]
tempfile = "3.10.1"
tokio = { version = "1.37.0", features = ["macros", "rt"] }

[lints]
workspace = true
