@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  --dark1: #0f1026;
  --dark2: #051c30;
  --dark3: #042f40;
  --shade1dark: #53a0c4;
  --shade1light: #afd7fa;
  --shade2dark: #935d7e;
  --shade2light: #d68fbc;
}

* {
  font-family: Play;
}

a {
  font-weight: 500;
  color: var(--shade1light);
  text-decoration: inherit;
}

body {
  /* background-image: url("/public/assets/BG.webp");
  background-size: cover;
  backdrop-filter: blur(2.5px) saturate(1.4);
  background-position: center;
  background-repeat: no-repeat; */
  background-color: var(--dark1);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.header {
  font-size: 4.3rem;
  color: var(--shade2light);
  text-shadow: var(--shade2dark) 3px 3px 4.5px;
  line-height: 100%;
  margin: 25px auto;
}

form,
.message {
  background: linear-gradient(to top left, var(--dark2), var(--dark1));
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to left,
      var(--shade1light),
      var(--shade1dark));
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

form {
  padding: 8vh 4.5vh;
}

.message,
.consent-forms form {
  padding: 2vh;
}

form .field {
  width: 280px;
  min-height: 30px;
  margin: 10px auto;
  margin-bottom: 20px;
  border: 0.5px solid var(--shade2light);
  border-radius: 2px;
  font-size: 20px;
}

div.consent-forms {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.label {
  text-transform: uppercase;
}

.disclaimer {
  background: linear-gradient(to right, var(--dark2), var(--dark1));
  padding: 2vh;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left,
      var(--shade1light),
      var(--shade1dark));
  font-size: 16px;
  font-weight: bold;
  max-width: 80%;
}

.authUsername,
.appName {
  color: var(--shade2light);
  font-weight: bold;
}

.appName {
  text-transform: uppercase;
}

.formButton {
  background-color: var(--shade2dark);
  border: 0.5px solid var(--shade2light);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

.formButton:hover {
  background-color: var(--shade2light);
  color: var(--dark1);
  transition: 0.3s;
}

.tokenContainer {
  background: linear-gradient(to top left, var(--dark2), var(--dark1));
  padding: 8vh 4.5vh;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to left,
      var(--shade1light),
      var(--shade1dark));
  font-size: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.token {
  border: 0.5px solid var(--shade2light);
  width: 400px;
  padding: 20px 10px;
  text-align: center;
  overflow-x: auto;
  font-weight: bold;
}

.token::-webkit-scrollbar {
  width: 0.5em;
  height: 10px;
}

.token::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.token::-webkit-scrollbar-thumb {
  background-color: var(--shade2dark);
  outline: 1px solid var(--dark2);
}

@media only screen and (max-width: 500px) {
  body {
    backdrop-filter: blur(2px);
    background-position: 50% 20%;
  }

  .header {
    font-size: 42px;
    color: var(--shade2light);
    text-shadow: var(--shade2dark) 3px 3px 4.5px;
    line-height: 100%;
    margin: 25px auto;
  }

  form,
  .tokenContainer {
    padding: 6vh 4vh;
    font-size: 16px;
    border-width: 3px;
  }

  .token {
    max-width: 250px;
  }

  form .field {
    width: 200px;
    min-height: 25px;
    margin: 10px auto;
    margin-bottom: 20px;
    border: 0.5px solid var(--shade2light);
    border-radius: 2px;
    font-size: 16px;
  }

  .formButton {
    padding: 8px;
    font-size: 16px;
    width: 80px;
  }

  .disclaimer {
    font-size: 13px;
    max-width: 70%;
    text-align: center;
    border-width: 3px;
  }
}