.user__header {
    border: 1px solid var(--shade2dark);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 600px;
    max-width: 90%;
    background-color: var(--dark2);
}

.user__bio {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.user__names {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.user__profile-picture {
    float: left;
    width: 160px;
    margin-right: 1em;
    margin-bottom: 0.1em;
}