[package]
name = "kitsune-s3"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
bytes = "1.5.0"
futures-util = { version = "0.3.30", default-features = false }
http = "1.1.0"
kitsune-http-client = { path = "../kitsune-http-client" }
rusty-s3 = { version = "0.5.0", default-features = false }
typed-builder = "0.18.1"

[dev-dependencies]
kitsune-test = { path = "../kitsune-test" }
tokio = { version = "1.36.0", features = ["macros", "rt"] }

[lints]
workspace = true
