[package]
name = "kitsune-s3"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
bytes = "1.6.0"
futures-util = { version = "0.3.30", default-features = false }
http = "1.1.0"
kitsune-error = { path = "../kitsune-error" }
kitsune-http-client = { path = "../kitsune-http-client" }
quick-xml = { version = "0.31.0", features = ["serialize"] }
rusty-s3 = "0.5.0"
serde = { version = "1.0.198", features = ["derive"] }
typed-builder = "0.18.2"

[dev-dependencies]
kitsune-test = { path = "../kitsune-test" }
tokio = { version = "1.37.0", features = ["macros", "rt"] }

[lints]
workspace = true
