[package]
name = "kitsune-test"
authors.workspace = true
edition.workspace = true
version.workspace = true

[dependencies]
bytes = "1.5.0"
deadpool-redis = "0.14.0"
diesel = "2.1.4"
diesel-async = "0.4.1"
futures-util = "0.3.29"
http = "1.0.0"
http-body-util = "0.1.0"
kitsune-db = { path = "../kitsune-db" }
pin-project-lite = "0.2.13"
redis = "0.24.0"
scoped-futures = "0.1.3"

[lints]
workspace = true
