[package]
name = "kitsune-test"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
bytes = "1.6.0"
diesel-async = "0.4.1"
futures-util = "0.3.30"
http = "1.1.0"
http-body-util = "0.1.1"
isolang = "2.4.0"
kitsune-config = { path = "../kitsune-config" }
kitsune-db = { path = "../kitsune-db" }
kitsune-s3 = { path = "../kitsune-s3" }
multiplex-pool = { path = "../../lib/multiplex-pool" }
pin-project-lite = "0.2.14"
rand = "0.8.5"
redis = { version = "0.25.3", default-features = false, features = [
    "connection-manager",
    "tokio-rustls-comp",
] }
rusty-s3 = { version = "0.5.0", default-features = false }
testcontainers = "0.16.7"
testcontainers-modules = { version = "0.4.2", features = [
    "minio",
    "postgres",
    "redis",
] }
tokio = { version = "1.37.0", features = ["time"] }
url = "2.5.0"
uuid = { version = "1.8.0", features = ["fast-rng", "v4"] }

[lints]
workspace = true
