[package]
name = "kitsune-test"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
bytes = "1.5.0"
diesel = "2.1.5"
diesel-async = "0.4.1"
futures-util = "0.3.30"
http = "1.1.0"
http-body-util = "0.1.1"
isolang = "2.4.0"
kitsune-config = { path = "../kitsune-config" }
kitsune-db = { path = "../kitsune-db" }
kitsune-s3 = { path = "../kitsune-s3" }
multiplex-pool = { path = "../../lib/multiplex-pool" }
pin-project-lite = "0.2.13"
redis = { version = "0.25.1", default-features = false, features = [
    "connection-manager",
    "tokio-rustls-comp",
] }
rusty-s3 = { version = "0.5.0", default-features = false }
scoped-futures = "0.1.3"
testcontainers = { version = "0.15.0", features = ["watchdog"] }
testcontainers-modules = { version = "0.3.5", features = [
    "minio",
    "postgres",
    "redis",
] }

[lints]
workspace = true
