[package]
name = "kitsune-test"
edition.workspace = true
version.workspace = true

[dependencies]
deadpool-redis = "0.13.0"
diesel = "2.1.3"
diesel-async = "0.4.1"
futures-util = "0.3.28"
http = "0.2.9"
kitsune-db = { path = "../kitsune-db" }
pin-project-lite = "0.2.13"
redis = "0.23.3"
scoped-futures = "0.1.3"
