[package]
name = "kitsune-core"
edition.workspace = true
version.workspace = true

[dependencies]
ammonia = "3.3.0"
argon2 = "0.5.2"
async-recursion = "1.0.5"
async-stream = "0.3.5"
async-trait = "0.1.74"
athena = { path = "../../lib/athena" }
autometrics = { version = "0.6.0", default-features = false, features = [
    "metrics",
] }
base64-simd = "0.8.0"
bytes = "1.5.0"
const_format = "0.2.32"
deadpool-redis = { version = "0.13.0", default-features = false }
derive_builder = "0.12.0"
diesel = "2.1.3"
diesel-async = { version = "0.4.1", features = ["postgres"] }
eyre = "0.6.8"
futures-util = "0.3.28"
garde = { version = "0.16.0", default-features = false, features = [
    "derive",
    "email",
    "email-idna",
    "regex",
    "serde",
] }
globset = "0.4.13"
hex-simd = "0.8.0"
http = "0.2.9"
img-parts = "0.3.0"
iso8601-timestamp = "0.2.12"
kitsune-blocking = { path = "../kitsune-blocking" }
kitsune-cache = { path = "../kitsune-cache" }
kitsune-captcha = { path = "../kitsune-captcha" }
kitsune-config = { path = "../kitsune-config" }
kitsune-db = { path = "../kitsune-db" }
kitsune-email = { path = "../kitsune-email" }
kitsune-embed = { path = "../kitsune-embed" }
kitsune-http-client = { path = "../kitsune-http-client" }
kitsune-http-signatures = { path = "../kitsune-http-signatures" }
kitsune-language = { path = "../kitsune-language" }
kitsune-messaging = { path = "../kitsune-messaging" }
kitsune-search = { path = "../kitsune-search" }
kitsune-storage = { path = "../kitsune-storage" }
kitsune-type = { path = "../kitsune-type" }
mime = "0.3.17"
mime_guess = { version = "2.0.4", default-features = false }
once_cell = "1.18.0"
password-hash = { version = "0.5.0", features = ["std"] }
pkcs8 = { version = "0.10.2", features = ["std"] }
post-process = { path = "../../lib/post-process" }
pulldown-cmark = { version = "0.9.3", default-features = false, features = [
    "simd",
] }
rand = "0.8.5"
rsa = "0.9.2"
rusty-s3 = { version = "0.5.0", default-features = false }
scoped-futures = "0.1.3"
serde = { version = "1.0.189", features = ["derive"] }
sha2 = "0.10.8"
simd-json = "0.12.0"
smol_str = "0.2.0"
speedy-uuid = { path = "../../lib/speedy-uuid", features = ["diesel"] }
thiserror = "1.0.50"
time = "0.3.30"
tokio = { version = "1.33.0", features = ["macros", "rt"] }
tracing = "0.1.40"
typed-builder = "0.18.0"
url = "2.4.1"
zxcvbn = { version = "2.2.2", default-features = false }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
sha2 = { version = "0.10.8", features = ["asm"] }

[features]
default = []
mastodon-api = []
meilisearch = ["kitsune-search/meilisearch"]

[build-dependencies]
vergen = { version = "8.2.5", features = ["build", "git", "gitcl"] }

[dev-dependencies]
hyper = "0.14.27"
kitsune-test = { path = "../kitsune-test" }
pretty_assertions = "1.4.0"
redis = "0.23.3"
serial_test = "2.0.0"
tempfile = "3.8.0"
tower = "0.4.13"
