[package]
name = "kitsune-core"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true
build = "build.rs"

[dependencies]
async-trait = "0.1.79"
const_format = "0.2.32"
eyre = "0.6.12"
http = "1.1.0"
kitsune-db = { path = "../kitsune-db" }
kitsune-messaging = { path = "../kitsune-messaging" }
serde = { version = "1.0.197", features = ["derive"] }
speedy-uuid = { path = "../../lib/speedy-uuid", features = ["diesel"] }
thiserror = "1.0.58"
typed-builder = "0.18.1"

[build-dependencies]
vergen = { version = "8.3.1", features = ["build", "git", "gitcl"] }

[lints]
workspace = true
