[package]
name = "kitsune-webfinger"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
async-trait = "0.1.79"
autometrics = { version = "1.0.1", default-features = false }
eyre = "0.6.12"
futures-util = "0.3.30"
http = "1.1.0"
kitsune-cache = { path = "../kitsune-cache" }
kitsune-core = { path = "../kitsune-core" }
kitsune-http-client = { path = "../kitsune-http-client" }
kitsune-type = { path = "../kitsune-type" }
kitsune-util = { path = "../kitsune-util" }
multiplex-pool = { path = "../../lib/multiplex-pool" }
redis = { version = "0.25.2", default-features = false, features = [
    "connection-manager",
    "tokio-comp",
] }
tracing = "0.1.40"
urlencoding = "2.1.3"

[dev-dependencies]
http-body-util = "0.1.1"
hyper = "1.2.0"
pretty_assertions = "1.4.0"
simd-json = "0.13.9"
tokio = { version = "1.37.0", features = ["macros"] }
tower = { version = "0.4.13", default-features = false, features = ["util"] }

[lints]
workspace = true
