[package]
name = "kitsune-http-client"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
async-stream = "0.3.5"
bytes = "1.5.0"
futures-core = "0.3.29"
headers = "0.4.0"
http-body = "1.0.0"
http-body-util = "0.1.0"
hyper = "1.0.1"
hyper-util = { version = "0.1.1", features = [
    "client-legacy",
    "http1",
    "http2",
    "tokio",
] }
hyper-rustls = { git = "https://github.com/rustls/hyper-rustls.git", rev = "8e502d807f637709b4d88c34d6bf7d921272a36a", features = [
    "http2",
] }
kitsune-http-signatures = { path = "../kitsune-http-signatures" }
kitsune-type = { path = "../kitsune-type" }
pin-project-lite = "0.2.13"
serde = "1.0.194"
simd-json = "0.13.4"
tower = { version = "0.4.13", features = ["util"] }
tower-http = { version = "0.5.0", features = [
    # Explicitly exclude `zstd`
    # It's not widely adopted and takes a long time to build
    "decompression-br",
    "decompression-deflate",
    "decompression-gzip",

    "follow-redirect",
    "map-response-body",
    "timeout",
] }

[dev-dependencies]
tokio = { version = "1.35.1", features = ["macros", "rt"] }

[lints]
workspace = true
