[package]
name = "kitsune-http-client"
version.workspace = true
edition.workspace = true

[dependencies]
bytes = "1.5.0"
futures-core = "0.3.29"
headers = "0.3.9"
http-body = "0.4.5"
hyper = { version = "0.14.27", features = [
    "client",
    "deprecated",
    "http1",
    "http2",
    "runtime",
] }
hyper-rustls = { version = "0.24.2", features = ["http2"] }
kitsune-http-signatures = { path = "../kitsune-http-signatures" }
kitsune-type = { path = "../kitsune-type" }
pin-project-lite = "0.2.13"
serde = "1.0.193"
simd-json = "0.13.4"
tower = { version = "0.4.13", features = ["util"] }
tower-http = { version = "0.4.4", features = [
    # Explicitly exclude `zstd`
    # It's not widely adopted and takes a long time to build
    "decompression-br",
    "decompression-deflate",
    "decompression-gzip",

    "follow-redirect",
    "map-response-body",
    "timeout",
] }

[dev-dependencies]
tokio = { version = "1.34.0", features = ["macros", "rt"] }
