[package]
name = "kitsune-service"
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
ahash = "0.8.11"
argon2 = "0.5.3"
async-stream = "0.3.5"
athena = { path = "../../lib/athena" }
blowocking = { path = "../../lib/blowocking" }
bytes = "1.6.0"
derive_builder = "0.20.0"
diesel = "2.1.6"
diesel-async = "0.4.1"
eyre = "0.6.12"
futures-util = "0.3.30"
garde = { version = "0.18.0", default-features = false, features = [
    "derive",
    "email",
    "email-idna",
    "regex",
    "serde",
] }
http = "1.1.0"
img-parts = "0.3.0"
iso8601-timestamp = "0.2.17"
kitsune-cache = { path = "../kitsune-cache" }
kitsune-captcha = { path = "../kitsune-captcha" }
kitsune-config = { path = "../kitsune-config" }
kitsune-core = { path = "../kitsune-core" }
kitsune-db = { path = "../kitsune-db" }
kitsune-derive = { path = "../kitsune-derive" }
kitsune-email = { path = "../kitsune-email" }
kitsune-embed = { path = "../kitsune-embed" }
kitsune-error = { path = "../kitsune-error" }
kitsune-http-client = { path = "../kitsune-http-client" }
kitsune-jobs = { path = "../kitsune-jobs" }
kitsune-language = { path = "../kitsune-language" }
kitsune-search = { path = "../kitsune-search" }
kitsune-storage = { path = "../kitsune-storage" }
kitsune-url = { path = "../kitsune-url" }
kitsune-util = { path = "../kitsune-util" }
mime = "0.3.17"
multiplex-pool = { path = "../../lib/multiplex-pool" }
password-hash = { version = "0.5.0", features = ["std"] }
pkcs8 = "0.10.2"
post-process = { path = "../../lib/post-process" }
rand = "0.8.5"
redis = { version = "0.25.3", default-features = false, features = [
    "connection-manager",
    "tokio-comp",
] }
rsa = "0.9.6"
rusty-s3 = { version = "0.5.0", default-features = false }
serde = "1.0.201"
smol_str = "0.2.1"
speedy-uuid = { path = "../../lib/speedy-uuid" }
tokio = { version = "1.37.0", features = ["macros", "sync"] }
tracing = "0.1.40"
triomphe = "0.1.11"
typed-builder = "0.18.2"
url = "2.5.0"
zxcvbn = { version = "2.2.2", default-features = false }

[dev-dependencies]
hex-simd = "0.8.0"
http-body-util = "0.1.1"
hyper = "1.3.1"
kitsune-activitypub = { path = "../kitsune-activitypub" }
kitsune-config = { path = "../kitsune-config" }
kitsune-federation-filter = { path = "../kitsune-federation-filter" }
kitsune-jobs = { path = "../kitsune-jobs" }
kitsune-test = { path = "../kitsune-test" }
kitsune-webfinger = { path = "../kitsune-webfinger" }
pretty_assertions = "1.4.0"
tempfile = "3.10.1"
tower = { version = "0.4.13", default-features = false, features = ["util"] }

[lints]
workspace = true
