[package]
name = "kitsune-service"
authors.workspace = true
edition.workspace = true
version.workspace = true

[dependencies]
ahash = "0.8.6"
argon2 = "0.5.2"
async-stream = "0.3.5"
athena = { path = "../../lib/athena" }
bytes = "1.5.0"
deadpool-redis = "0.13.0"
derive_builder = "0.12.0"
diesel = "2.1.4"
diesel-async = "0.4.1"
futures-util = "0.3.29"
garde = { version = "0.16.3", default-features = false, features = [
    "derive",
    "email",
    "email-idna",
    "regex",
    "serde",
] }
http = "0.2.11"
img-parts = "0.3.0"
iso8601-timestamp = "0.2.13"
kitsune-blocking = { path = "../kitsune-blocking" }
kitsune-cache = { path = "../kitsune-cache" }
kitsune-captcha = { path = "../kitsune-captcha" }
kitsune-config = { path = "../kitsune-config" }
kitsune-core = { path = "../kitsune-core" }
kitsune-db = { path = "../kitsune-db" }
kitsune-email = { path = "../kitsune-email" }
kitsune-embed = { path = "../kitsune-embed" }
kitsune-http-client = { path = "../kitsune-http-client" }
kitsune-http-signatures = { path = "../kitsune-http-signatures" }
kitsune-jobs = { path = "../kitsune-jobs" }
kitsune-language = { path = "../kitsune-language" }
kitsune-messaging = { path = "../kitsune-messaging" }
kitsune-search = { path = "../kitsune-search" }
kitsune-storage = { path = "../kitsune-storage" }
kitsune-url = { path = "../kitsune-url" }
kitsune-util = { path = "../kitsune-util" }
miette = "5.10.0"
mime = "0.3.17"
password-hash = { version = "0.5.0", features = ["std"] }
pkcs8 = "0.10.2"
post-process = { path = "../../lib/post-process" }
rand = "0.8.5"
rsa = "0.9.6"
rusty-s3 = { version = "0.5.0", default-features = false }
scoped-futures = "0.1.3"
serde = "1.0.193"
simd-json = "0.13.4"
smol_str = "0.2.0"
speedy-uuid = { path = "../../lib/speedy-uuid" }
thiserror = "1.0.50"
tokio = { version = "1.34.0", features = ["macros"] }
tracing = "0.1.40"
typed-builder = "0.18.0"
url = "2.5.0"
zxcvbn = { version = "2.2.2", default-features = false }

[features]
meilisearch = ["kitsune-search/meilisearch"]

[dev-dependencies]
hex-simd = { version = "0.8.0", features = ["unstable"] }
hyper = "0.14.27"
kitsune-activitypub = { path = "../kitsune-activitypub" }
kitsune-config = { path = "../kitsune-config" }
kitsune-federation-filter = { path = "../kitsune-federation-filter" }
kitsune-jobs = { path = "../kitsune-jobs" }
kitsune-test = { path = "../kitsune-test" }
kitsune-webfinger = { path = "../kitsune-webfinger" }
pretty_assertions = "1.4.0"
serial_test = "2.0.0"
tempfile = "3.8.1"
tower = { version = "0.4.13", default-features = false, features = ["util"] }

[lints]
workspace = true
