[build]
rustdocflags = ["--document-private-items"]
rustflags = [
    "--cfg",
    "uuid_unstable",
    "-C",
    "target-cpu=native",   # This probably isn't good, could lead to some weird issues but better than end-users having to struggle with arcane `simd-json` errors
]

[registries.crates-io]
protocol = "sparse"
