[package]
name = "kitsune-messaging"
version.workspace = true
edition.workspace = true

[dependencies]
ahash = "0.8.6"
futures-util = "0.3.29"
kitsune-retry-policies = { path = "../kitsune-retry-policies" }
kitsune-util = { path = "../kitsune-util" }
pin-project-lite = "0.2.13"
redis = { version = "0.23.3", features = [
    "aio",
    "connection-manager",
    "tokio-rustls-comp",
] }
serde = "1.0.192"
simd-json = "0.13.4"
tokio = { version = "1.33.0", features = ["macros", "rt", "sync"] }
tokio-stream = { version = "0.1.14", features = ["sync"] }
tracing = "0.1.40"
