[package]
name = "kitsune-db"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
build = "build.rs"

[dependencies]
blowocking = { path = "../../lib/blowocking" }
diesel = { version = "2.1.5", features = ["uuid"] }
diesel-async = { version = "0.4.1", features = [
    "async-connection-wrapper",
    "bb8",
    "postgres",
    "tokio",
] }
diesel_full_text_search = { version = "2.1.1", default-features = false }
diesel_migrations = "2.1.0"
futures-util = { version = "0.3.30", default-features = false, features = [
    "alloc",
] }
iso8601-timestamp = { version = "0.2.17", features = ["diesel-pg"] }
kitsune-config = { path = "../kitsune-config" }
kitsune-language = { path = "../kitsune-language" }
kitsune-type = { path = "../kitsune-type" }
num-derive = "0.4.2"
num-traits = "0.2.18"
rustls = { version = "0.23.4", default-features = false, features = [
    "logging",
    "ring",
    "std",
    "tls12",
] }
rustls-native-certs = "0.7.0"
serde = { version = "1.0.197", features = ["derive"] }
simd-json = "0.13.9"
speedy-uuid = { path = "../../lib/speedy-uuid", features = ["diesel"] }
thiserror = "1.0.58"
tokio = { version = "1.37.0", features = ["rt"] }
tokio-postgres = "0.7.10"
tokio-postgres-rustls = "0.11.1"
tracing = "0.1.40"
tracing-log = "0.2.0"
typed-builder = "0.18.1"

[dev-dependencies]
kitsune-test = { path = "../kitsune-test" }
tokio = { version = "1.37.0", features = ["macros"] }

[lints]
workspace = true
