<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/template.css">
  <title>OAuth Login</title>
</head>

<body>
  <p class="header">{{domain}}</p>
  <form method="post">
    <div>
      <label class="label" for="username">Username</label><br />
      <input class="field" type="text" id="username" name="username" value="" /><br />
      <label class="label" for="password">Password</label><br />
      <input class="field" type="password" id="password" name="password" value="" /><br /><br />
    </div>
    <input class="formButton" type="submit" value="Submit" />
  </form>
  <div class="disclaimer">
    <p>
      Attention: <span class="appName">{{app_name}}</span> is able to use your
      data, so beware bitches, people can steal your shit! Be safe out there!
    </p>
  </div>
</body>

</html>