{% extends "base.html" %}

{% block title %}
  OAuth Token
{% endblock %}

{% block body %}
  <main
    class="flex flex-col place-content-center items-center w-screen min-h-screen"
  >
    <div class="flex flex-col items-center">
      <h1 class="italic text-shade1-dark">Kitsune</h1>
      <p>
        Copy & Paste this token into
        <span class="font-bold text-shade1-dark">{{ app_name }}</span>
      </p>
      <code
        class="bg-black p-2 rounded-md w-full lg:max-w-96 text-center overflow-x-scroll before:content-none after:content-none"
      >
        {{ token }}
      </code>
    </div>
  </main>
{% endblock %}
