[package]
name = "kitsune-cli"
version.workspace = true
edition = "2021"
build = "build.rs"

[dependencies]
clap = { version = "4.3.10", features = ["derive"] }
diesel = "2.1.0"
diesel-async = "0.3.1"
dotenvy = "0.15.7"
envy = "0.4.2"
kitsune-db = { path = "../kitsune-db" }
serde = { version = "1.0.164", features = ["derive"] }
time = "0.3.22"
tokio = { version = "1.29.1", features = ["full"] }
tracing-subscriber = "0.3.17"
uuid = { package = "kitsune-uuid", path = "../kitsune-uuid" }

[build-dependencies]
vergen = { version = "8.2.1", features = ["build", "git", "gitoxide"] }
