[package]
name = "kitsune-cli"
version.workspace = true
edition.workspace = true
build = "build.rs"

[dependencies]
clap = { version = "4.4.8", features = ["derive"] }
color-eyre = "0.6.2"
diesel = "2.1.4"
diesel-async = "0.4.1"
dotenvy = "0.15.7"
envy = "0.4.2"
kitsune-db = { path = "../crates/kitsune-db" }
serde = { version = "1.0.192", features = ["derive"] }
speedy-uuid = { path = "../lib/speedy-uuid" }
tokio = { version = "1.34.0", features = ["full"] }
tracing-subscriber = "0.3.18"

[build-dependencies]
vergen = { version = "8.2.6", features = ["build", "git", "gitcl"] }
