[package]
name = "kitsune"
version.workspace = true
edition = "2021"
repository = "https://github.com/kitsune-soc/kitsune"
homepage = "https://joinkitsune.org"
build = "build.rs"

[dependencies]
autometrics = { version = "0.5.0", default-features = false }
ammonia = "3.3.0"
anyhow = "1.0.71"
argon2 = { version = "0.5.0", features = ["std"] }
askama = { version = "0.12.0", default-features = false, features = [
    "with-axum",
] }
askama_axum = "0.3.0"
async-recursion = "1.0.4"
async-stream = "0.3.5"
async-trait = "0.1.71"
athena = { path = "../lib/athena" }
aws-credential-types = { version = "0.55.3", features = [
    "hardcoded-credentials",
] }
aws-sdk-s3 = "0.28.0"
axum = { version = "0.6.18", features = ["headers", "macros", "multipart"] }
axum-extra = { version = "0.7.4", features = [
    "cookie",
    "cookie-signed",
    "query",
] }
axum-flash = "0.7.0"
base64-simd = "0.8.0"
bytes = "1.4.0"
chrono = { version = "0.4.26", default-features = false } # Needed because of oxide-auth. Thinking about forking and porting to time..
const_format = "0.2.31"
const-oid = { git = "https://github.com/RustCrypto/formats.git", rev = "25910fe837092418458017353a9acab6081dc198", features = [
    "db",
] }
dashmap = "5.4.0"
deadpool-redis = "0.12.0"
derive_builder = "0.12.0"
diesel = "2.1.0"
diesel-async = "0.3.1"
diesel_full_text_search = { version = "2.1.0", default-features = false }
enum_dispatch = "0.3.12"
futures-util = "0.3.28"
globset = { version = "0.4.10", features = ["simd-accel"] }
headers = "0.3.8"
hex-simd = "0.8.0"
http = "0.2.9"
hyper = { version = "0.14.27", features = ["deprecated"] }
iso8601-timestamp = "0.2.11"
jemallocator = { version = "0.5.0", default-features = false, features = [
    "background_threads",
] }
just-retry = { path = "../lib/just-retry" }
kitsune-cache = { path = "../kitsune-cache" }
kitsune-db = { path = "../kitsune-db" }
kitsune-embed = { path = "../kitsune-embed" }
kitsune-email = { path = "../kitsune-email" }
kitsune-http-client = { path = "../kitsune-http-client" }
kitsune-http-signatures = { path = "../kitsune-http-signatures" }
kitsune-messaging = { path = "../kitsune-messaging" }
kitsune-search = { path = "../kitsune-search" }
kitsune-storage = { path = "../kitsune-storage" }
kitsune-type = { path = "../kitsune-type" }
mime = "0.3.17"
mime_guess = "2.0.4"
once_cell = "1.18.0"
oxide-auth = "0.5.3"
oxide-auth-async = "0.1.0"
oxide-auth-axum = "0.3.0"
parking_lot = "0.12.1"
pin-project-lite = "0.2.10"
post-process = { path = "../lib/post-process" }
pulldown-cmark = { version = "0.9.3", default-features = false, features = [
    "simd",
] }
rand = "0.8.5"
rayon = "1.7.0"
redis = "0.23.0"
rsa = "0.9.2"
serde = { version = "1.0.167", features = ["derive"] }
serde_urlencoded = "0.7.1"
sha2 = "0.10.7"
simd-json = "0.10.3"
smol_str = "0.2.0"
speedy-uuid = { path = "../lib/speedy-uuid" }
strum = { version = "0.25.0", features = ["derive", "phf"] }
tempfile = "3.6.0"
thiserror = "1.0.43"
time = "0.3.22"
tokio = { version = "1.29.1", features = ["full"] }
tokio-util = { version = "0.7.8", features = ["compat"] }
toml = "0.7.6"
tower-http = { version = "0.4.1", features = [
    "catch-panic",
    "cors",
    "fs",
    "timeout",
    "trace",
] }
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
typed-builder = "0.15.0"
url = "2.4.0"
utoipa = { version = "3.3.0", features = ["axum_extras", "time", "uuid"] }
utoipa-swagger-ui = { version = "3.1.3", features = ["axum"] }
zxcvbn = { version = "2.2.2", default-features = false }

# --- Optional dependencies ---

# "graphql" feature
async-graphql = { version = "5.0.10", default-features = false, features = [
    "email-validator",
    "playground",
    "tempfile",
    "time",
    "tracing",
    "unblock",
    "uuid",
], optional = true }
async-graphql-axum = { version = "5.0.10", optional = true }

# "metrics" feature
axum-prometheus = { version = "0.3.3", optional = true }
metrics = { version = "0.21.1", optional = true }
metrics-exporter-prometheus = { version = "0.12.1", optional = true }
metrics-tracing-context = { version = "0.14.0", optional = true }
metrics-util = { version = "0.15.1", optional = true }

# "oidc" feature
openidconnect = { version = "3.2.0", default-features = false, optional = true }

[dev-dependencies]
pretty_assertions = "1.4.0"
serial_test = "2.0.0"

[features]
default = ["graphql-api", "mastodon-api", "metrics"]
graphql-api = [
    "dep:async-graphql",
    "dep:async-graphql-axum",
    "speedy-uuid/async-graphql",
]
kitsune-search = ["kitsune-search/kitsune-search"]
mastodon-api = []
meilisearch = ["kitsune-search/meilisearch"]
metrics = [
    "autometrics/metrics",
    "dep:axum-prometheus",
    "dep:metrics",
    "dep:metrics-exporter-prometheus",
    "dep:metrics-tracing-context",
    "dep:metrics-util",
]
oidc = ["dep:openidconnect"]

[build-dependencies]
vergen = { version = "8.2.4", features = ["build", "git", "gitoxide"] }
