[package]
name = "kitsune"
version.workspace = true
edition.workspace = true
repository = "https://github.com/kitsune-soc/kitsune"
homepage = "https://joinkitsune.org"
build = "build.rs"

[dependencies]
athena = { version = "0.0.1-pre.3", path = "../lib/athena" }
argon2 = { version = "0.5.2", features = ["std"] }
askama = { version = "0.12.1", features = [
    "with-axum",
], default-features = false }
askama_axum = "0.3.0"
async-trait = "0.1.73"
axum = { version = "0.6.20", features = ["headers", "macros", "multipart"] }
axum-extra = { version = "0.8.0", features = [
    "cookie",
    "cookie-signed",
    "query",
] }
axum-flash = "0.7.0"
bytes = "1.5.0"
chrono = { version = "0.4.31", default-features = false }
clap = { version = "4.4.6", features = ["derive"] }
color-eyre = "0.6.2"
const-oid = { version = "0.9.5", features = ["db"] }
der = { version = "0.7.8", features = ["std"] }
diesel = "2.1.3"
diesel-async = "0.4.1"
eyre = "0.6.8"
futures-util = "0.3.28"
headers = "0.3.9"
http = "0.2.9"
human-panic = "1.2.1"
hyper = { version = "0.14.27", features = ["deprecated"] }
iso8601-timestamp = "0.2.12"
mimalloc = "0.1.39"
mime = "0.3.17"
mime_guess = { version = "2.0.4", default-features = false }
pkcs8 = "0.10.2"
kitsune-cache = { path = "../crates/kitsune-cache" }
kitsune-captcha = { path = "../crates/kitsune-captcha" }
kitsune-core = { path = "../crates/kitsune-core" }
kitsune-db = { path = "../crates/kitsune-db" }
kitsune-embed = { path = "../crates/kitsune-embed" }
kitsune-http-client = { path = "../crates/kitsune-http-client" }
kitsune-http-signatures = { path = "../crates/kitsune-http-signatures" }
kitsune-job-runner = { path = "../kitsune-job-runner" }
kitsune-language = { path = "../crates/kitsune-language", default-features = false }
kitsune-search = { path = "../crates/kitsune-search" }
kitsune-storage = { path = "../crates/kitsune-storage" }
kitsune-type = { path = "../crates/kitsune-type" }
oxide-auth = "0.5.4"
oxide-auth-async = "0.1.1"
oxide-auth-axum = "0.3.0"
scoped-futures = "0.1.3"
serde = { version = "1.0.189", features = ["derive"] }
serde_urlencoded = "0.7.1"
simd-json = "0.12.0"
speedy-uuid = { path = "../lib/speedy-uuid" }
strum = { version = "0.25.0", features = ["derive", "phf"] }
tempfile = "3.8.0"
thiserror = "1.0.49"
time = "0.3.30"
tokio = { version = "1.33.0", features = ["full"] }
tokio-util = { version = "0.7.9", features = ["compat"] }
tower-http = { version = "0.4.4", features = [
    "catch-panic",
    "cors",
    "fs",
    "timeout",
    "trace",
] }
tracing = "0.1.39"
tracing-error = "0.2.0"
tracing-subscriber = "0.3.17"
typed-builder = "0.16.2"
url = "2.4.1"
utoipa = { version = "4.0.0", features = ["axum_extras", "time", "uuid"] }
utoipa-swagger-ui = { version = "4.0.0", features = ["axum"] }

# --- Optional dependencies ---

# "graphql" feature
async-graphql = { version = "6.0.7", default-features = false, features = [
    "playground",
    "tempfile",
    "time",
    "tracing",
    "unblock",
    "uuid",
], optional = true }
async-graphql-axum = { version = "6.0.7", optional = true }

# "metrics" feature
axum-prometheus = { version = "0.4.0", optional = true }
metrics = { version = "0.21.1", optional = true }
metrics-exporter-prometheus = { version = "0.12.1", optional = true }
metrics-tracing-context = { version = "0.14.0", optional = true }
metrics-util = { version = "0.15.1", optional = true }

# "oidc" feature
openidconnect = { version = "3.4.0", default-features = false, optional = true }

[dev-dependencies]
kitsune-test = { path = "../crates/kitsune-test" }
pretty_assertions = "1.4.0"
serial_test = "2.0.0"
tower = "0.4.13"

[features]
default = ["graphql-api", "mastodon-api", "metrics"]
graphql-api = [
    "dep:async-graphql",
    "dep:async-graphql-axum",
    "speedy-uuid/async-graphql",
]
mastodon-api = ["kitsune-core/mastodon-api"]
meilisearch = ["kitsune-core/meilisearch"]
metrics = [
    "kitsune-core/metrics",
    "dep:axum-prometheus",
    "dep:metrics",
    "dep:metrics-exporter-prometheus",
    "dep:metrics-tracing-context",
    "dep:metrics-util",
]
oidc = ["dep:openidconnect"]
