[package]
name = "kitsune"
version.workspace = true
edition.workspace = true
repository = "https://github.com/kitsune-soc/kitsune"
homepage = "https://joinkitsune.org"
build = "build.rs"

[dependencies]
ahash = "0.8.6"
athena = { path = "../lib/athena" }
argon2 = { version = "0.5.2", features = ["std"] }
askama = { version = "0.12.1", features = [
    "with-axum",
], default-features = false }
askama_axum = "0.3.0"
async-trait = "0.1.74"
axum = { version = "0.6.20", features = ["headers", "macros", "multipart"] }
axum-extra = { version = "0.8.0", features = [
    "cookie",
    "cookie-signed",
    "query",
] }
axum-flash = "0.7.0"
bytes = "1.5.0"
chrono = { version = "0.4.31", default-features = false }
clap = { version = "4.4.10", features = ["derive"] }
color-eyre = "0.6.2"
const-oid = { version = "0.9.5", features = ["db"] }
der = { version = "0.7.8", features = ["std"] }
diesel = "2.1.4"
diesel-async = "0.4.1"
eyre = "0.6.9"
futures-util = "0.3.29"
headers = "0.3.9"
http = "0.2.11"
human-panic = "1.2.2"
hyper = { version = "0.14.27", features = ["deprecated"] }
include_dir = "0.7.3"
iso8601-timestamp = "0.2.12"
kitsune-blocking = { path = "../crates/kitsune-blocking" }
kitsune-cache = { path = "../crates/kitsune-cache" }
kitsune-captcha = { path = "../crates/kitsune-captcha" }
kitsune-config = { path = "../crates/kitsune-config" }
kitsune-consts = { path = "../crates/kitsune-consts" }
kitsune-core = { path = "../crates/kitsune-core" }
kitsune-db = { path = "../crates/kitsune-db" }
kitsune-embed = { path = "../crates/kitsune-embed" }
kitsune-federation-filter = { path = "../crates/kitsune-federation-filter" }
kitsune-http-signatures = { path = "../crates/kitsune-http-signatures" }
kitsune-job-runner = { path = "../kitsune-job-runner" }
kitsune-jobs = { path = "../crates/kitsune-jobs" }
kitsune-language = { path = "../crates/kitsune-language" }
kitsune-observability = { path = "../crates/kitsune-observability" }
kitsune-search = { path = "../crates/kitsune-search" }
kitsune-service = { path = "../crates/kitsune-service" }
kitsune-storage = { path = "../crates/kitsune-storage" }
kitsune-type = { path = "../crates/kitsune-type" }
kitsune-util = { path = "../crates/kitsune-util" }
metrics = "0.21.1"
mimalloc = "0.1.39"
mime = "0.3.17"
mime_guess = { version = "2.0.4", default-features = false }
pkcs8 = "0.10.2"
once_cell = "1.18.0"
oxide-auth = "0.5.4"
oxide-auth-async = "0.1.1"
oxide-auth-axum = "0.3.0"
scoped-futures = "0.1.3"
serde = { version = "1.0.193", features = ["derive"] }
serde_urlencoded = "0.7.1"
simd-json = "0.13.4"
speedy-uuid = { path = "../lib/speedy-uuid" }
strum = { version = "0.25.0", features = ["derive", "phf"] }
tempfile = "3.8.1"
thiserror = "1.0.50"
time = "0.3.30"
tokio = { version = "1.34.0", features = ["full"] }
tokio-util = { version = "0.7.10", features = ["compat"] }
tower-x-clacks-overhead = { path = "../lib/tower-x-clacks-overhead" }
tower-http = { version = "0.4.4", features = [
    "catch-panic",
    "cors",
    "fs",
    "timeout",
    "trace",
] }
tracing = "0.1.40"
typed-builder = "0.18.0"
url = "2.5.0"
utoipa = { version = "4.1.0", features = ["axum_extras", "uuid"] }
utoipa-swagger-ui = { version = "4.0.0", features = ["axum"] }

# --- Optional dependencies ---


# "graphql" feature
async-graphql = { version = "6.0.11", default-features = false, features = [
    "playground",
    "tempfile",
    "time",
    "tracing",
    "unblock",
    "uuid",
], optional = true }
async-graphql-axum = { version = "6.0.11", optional = true }

# "mastodon-api" feature
kitsune-mastodon = { path = "../crates/kitsune-mastodon", optional = true }

# "oidc" feature
kitsune-oidc = { path = "../crates/kitsune-oidc", optional = true }

[dev-dependencies]
deadpool-redis = "0.13.0"
kitsune-http-client = { path = "../crates/kitsune-http-client" }
kitsune-test = { path = "../crates/kitsune-test" }
pretty_assertions = "1.4.0"
serial_test = "2.0.0"
tower = "0.4.13"

[features]
default = ["graphql-api", "mastodon-api"]
graphql-api = [
    "dep:async-graphql",
    "dep:async-graphql-axum",
    "speedy-uuid/async-graphql",
]
mastodon-api = ["dep:kitsune-mastodon"]
meilisearch = ["kitsune-service/meilisearch", "kitsune-search/meilisearch"]
oidc = ["dep:kitsune-oidc"]
