[package]
name = "kitsune"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository = "https://github.com/kitsune-soc/kitsune"
homepage = "https://joinkitsune.org"
build = "build.rs"

[package.metadata.wix]
upgrade-guid = "560454A1-C372-48A1-9AA7-D41DB3D63E12"
path-guid = "1C91B087-D09B-42C2-B413-208E775781E2"
license = false
eula = false

[dependencies]
athena = { path = "../lib/athena", features = ["redis"] }
argon2 = { version = "0.5.3", features = ["std"] }
askama = { version = "0.12.1", features = [
    "with-axum",
], default-features = false }
askama_axum = "0.4.0"
async-trait = "0.1.80"
axum = { version = "0.7.5", features = ["macros", "multipart"] }
axum-extra = { version = "0.9.3", features = [
    "cookie",
    "cookie-signed",
    "query",
    "typed-header",
] }
axum-flash = "0.8.0"
blowocking = { path = "../lib/blowocking" }
bytes = "1.6.0"
chrono = { version = "0.4.38", default-features = false }
clap = { version = "4.5.4", features = ["derive", "wrap_help"] }
color-eyre = "0.6.3"
cursiv = { path = "../lib/cursiv", features = ["axum"] }
diesel = "2.1.6"
diesel-async = "0.4.1"
futures-util = "0.3.30"
headers = "0.4.0"
http = "1.1.0"
http-body-util = "0.1.1"
http-signatures = { path = "../lib/http-signatures" }
iso8601-timestamp = "0.2.17"
itertools = { version = "0.12.1", default-features = false }
kitsune-activitypub = { path = "../crates/kitsune-activitypub" }
kitsune-cache = { path = "../crates/kitsune-cache" }
kitsune-captcha = { path = "../crates/kitsune-captcha" }
kitsune-config = { path = "../crates/kitsune-config" }
kitsune-core = { path = "../crates/kitsune-core" }
kitsune-db = { path = "../crates/kitsune-db" }
kitsune-derive = { path = "../crates/kitsune-derive" }
kitsune-email = { path = "../crates/kitsune-email" }
kitsune-embed = { path = "../crates/kitsune-embed" }
kitsune-error = { path = "../crates/kitsune-error" }
kitsune-federation = { path = "../crates/kitsune-federation" }
kitsune-federation-filter = { path = "../crates/kitsune-federation-filter" }
kitsune-job-runner = { path = "../kitsune-job-runner" }
kitsune-jobs = { path = "../crates/kitsune-jobs" }
kitsune-language = { path = "../crates/kitsune-language" }
kitsune-observability = { path = "../crates/kitsune-observability" }
kitsune-search = { path = "../crates/kitsune-search" }
kitsune-service = { path = "../crates/kitsune-service" }
kitsune-storage = { path = "../crates/kitsune-storage" }
kitsune-type = { path = "../crates/kitsune-type" }
kitsune-url = { path = "../crates/kitsune-url" }
kitsune-util = { path = "../crates/kitsune-util" }
kitsune-wasm-mrf = { path = "../crates/kitsune-wasm-mrf" }
kitsune-webfinger = { path = "../crates/kitsune-webfinger" }
mimalloc = "0.1.41"
mime = "0.3.17"
mime_guess = { version = "2.0.4", default-features = false }
oxide-auth = "0.5.4"
oxide-auth-async = "0.1.1"
oxide-auth-axum = "0.4.0"
redis = { version = "0.25.3", default-features = false, features = [
    "tokio-rustls-comp",
] }
rust-embed = { version = "8.4.0", features = ["include-exclude"] }
scoped-futures = "0.1.3"
serde = { version = "1.0.201", features = ["derive"] }
serde_urlencoded = "0.7.1"
simd-json = "0.13.10"
simdutf8 = { version = "0.1.4", features = ["aarch64_neon"] }
speedy-uuid = { path = "../lib/speedy-uuid" }
strum = { version = "0.26.2", features = ["derive", "phf"] }
tempfile = "3.10.1"
time = "0.3.36"
tokio = { version = "1.37.0", features = ["full"] }
tokio-util = { version = "0.7.11", features = ["io"] }
tower = { version = "0.4.13", features = ["util"] }
tower-stop-using-brave = { path = "../lib/tower-stop-using-brave" }
tower-x-clacks-overhead = { path = "../lib/tower-x-clacks-overhead" }
tower-http = { version = "0.5.2", features = [
    "catch-panic",
    "cors",
    "fs",
    "request-id",
    "timeout",
    "trace",
] }
tower-http-digest = { path = "../lib/tower-http-digest" }
tracing = "0.1.40"
trials = { path = "../lib/trials" }
triomphe = "0.1.11"
typed-builder = "0.18.2"
url = "2.5.0"
utoipa = { version = "4.2.3", features = ["axum_extras", "uuid"] }
utoipa-swagger-ui = { version = "=6.0.0", features = ["axum"] }

# --- Optional dependencies ---

# "graphql" feature
async-graphql = { version = "7.0.5", default-features = false, features = [
    "playground",
    "tempfile",
    "time",
    "tracing",
    "uuid",
], optional = true }
async-graphql-axum = { version = "7.0.5", optional = true }

# "mastodon-api" feature
kitsune-mastodon = { path = "../crates/kitsune-mastodon", optional = true }

# "oidc" feature
kitsune-oidc = { path = "../crates/kitsune-oidc", optional = true }

[build-dependencies]
camino = "1.1.6"
fs_extra = "1.3.0"
kitsune-scss-compiler = { path = "../crates/kitsune-scss-compiler" }

[dev-dependencies]
kitsune-http-client = { path = "../crates/kitsune-http-client" }
kitsune-test = { path = "../crates/kitsune-test" }
multiplex-pool = { path = "../lib/multiplex-pool" }
pretty_assertions = "1.4.0"
redis = { version = "0.25.3", default-features = false, features = [
    "connection-manager",
    "tokio-comp",
] }

[features]
default = ["graphql-api", "mastodon-api"]
graphql-api = [
    "dep:async-graphql",
    "dep:async-graphql-axum",
    "speedy-uuid/async-graphql",
]
mastodon-api = ["dep:kitsune-mastodon"]
oidc = ["dep:kitsune-oidc"]

[lints]
workspace = true
