[package]
name = "kitsune"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository = "https://github.com/kitsune-soc/kitsune"
homepage = "https://joinkitsune.org"
build = "build.rs"

[package.metadata.wix]
upgrade-guid = "560454A1-C372-48A1-9AA7-D41DB3D63E12"
path-guid = "1C91B087-D09B-42C2-B413-208E775781E2"
license = false
eula = false

[dependencies]
athena = { path = "../lib/athena" }
argon2 = { version = "0.5.3", features = ["std"] }
askama = { version = "0.12.1", features = [
    "with-axum",
], default-features = false }
askama_axum = "0.4.0"
async-trait = "0.1.77"
axum = { version = "0.7.4", features = ["macros", "multipart"] }
axum-extra = { version = "0.9.2", features = [
    "cookie",
    "cookie-signed",
    "typed-header",
    "query",
] }
axum-flash = "0.8.0"
blowocking = { path = "../lib/blowocking" }
bytes = "1.5.0"
chrono = { version = "0.4.34", default-features = false }
clap = { version = "4.5.0", features = ["derive", "wrap_help"] }
const-oid = { version = "0.9.6", features = ["db"] }
cursiv = { path = "../lib/cursiv", features = ["axum"] }
der = { version = "0.7.8", features = ["std"] }
diesel = "2.1.4"
diesel-async = "0.4.1"
futures-util = "0.3.30"
headers = "0.4.0"
http = "1.0.0"
http-body-util = "0.1.0"
iso8601-timestamp = "0.2.17"
itertools = { version = "0.12.1", default-features = false }
kitsune-activitypub = { path = "../crates/kitsune-activitypub" }
kitsune-cache = { path = "../crates/kitsune-cache" }
kitsune-captcha = { path = "../crates/kitsune-captcha" }
kitsune-config = { path = "../crates/kitsune-config" }
kitsune-core = { path = "../crates/kitsune-core" }
kitsune-db = { path = "../crates/kitsune-db" }
kitsune-email = { path = "../crates/kitsune-email" }
kitsune-embed = { path = "../crates/kitsune-embed" }
kitsune-federation = { path = "../crates/kitsune-federation" }
kitsune-federation-filter = { path = "../crates/kitsune-federation-filter" }
kitsune-http-signatures = { path = "../crates/kitsune-http-signatures" }
kitsune-job-runner = { path = "../kitsune-job-runner" }
kitsune-jobs = { path = "../crates/kitsune-jobs" }
kitsune-language = { path = "../crates/kitsune-language" }
kitsune-messaging = { path = "../crates/kitsune-messaging" }
kitsune-observability = { path = "../crates/kitsune-observability" }
kitsune-search = { path = "../crates/kitsune-search" }
kitsune-service = { path = "../crates/kitsune-service" }
kitsune-storage = { path = "../crates/kitsune-storage" }
kitsune-type = { path = "../crates/kitsune-type" }
kitsune-url = { path = "../crates/kitsune-url" }
kitsune-util = { path = "../crates/kitsune-util" }
kitsune-webfinger = { path = "../crates/kitsune-webfinger" }
metrics = "=0.22.0"
miette = { version = "7.0.0", features = ["fancy"] }
mimalloc = "0.1.39"
mime = "0.3.17"
mime_guess = { version = "2.0.4", default-features = false }
pkcs8 = "0.10.2"
oxide-auth = "0.5.4"
oxide-auth-async = "0.1.1"
oxide-auth-axum = "0.4.0"
rust-embed = { version = "8.2.0", features = ["include-exclude"] }
scoped-futures = "0.1.3"
serde = { version = "1.0.196", features = ["derive"] }
serde_urlencoded = "0.7.1"
simd-json = "0.13.8"
speedy-uuid = { path = "../lib/speedy-uuid" }
strum = { version = "0.26.1", features = ["derive", "phf"] }
tempfile = "3.10.0"
thiserror = "1.0.57"
time = "0.3.34"
tokio = { version = "1.36.0", features = ["full"] }
tokio-util = { version = "0.7.10", features = ["compat"] }
tower-stop-using-brave = { path = "../lib/tower-stop-using-brave" }
tower-x-clacks-overhead = { path = "../lib/tower-x-clacks-overhead" }
tower-http = { version = "0.5.1", features = [
    "catch-panic",
    "cors",
    "fs",
    "timeout",
    "trace",
] }
tower-http-digest = { path = "../lib/tower-http-digest" }
tracing = "0.1.40"
typed-builder = "0.18.1"
url = "2.5.0"
utoipa = { version = "4.2.0", features = ["axum_extras", "uuid"] }
utoipa-swagger-ui = { version = "6.0.0", features = ["axum"] }

# --- Optional dependencies ---

# "graphql" feature
async-graphql = { version = "7.0.1", default-features = false, features = [
    "playground",
    "tempfile",
    "time",
    "tracing",
    "unblock",
    "uuid",
], optional = true }
async-graphql-axum = { version = "7.0.1", optional = true }

# "mastodon-api" feature
kitsune-mastodon = { path = "../crates/kitsune-mastodon", optional = true }

# "oidc" feature
kitsune-oidc = { path = "../crates/kitsune-oidc", optional = true }

[build-dependencies]
camino = "1.1.6"
fs_extra = "1.3.0"
kitsune-scss-compiler = { path = "../crates/kitsune-scss-compiler" }

[dev-dependencies]
deadpool-redis = "0.14.0"
kitsune-http-client = { path = "../crates/kitsune-http-client" }
kitsune-test = { path = "../crates/kitsune-test" }
pretty_assertions = "1.4.0"
serial_test = "3.0.0"
tower = "0.4.13"

[features]
default = ["graphql-api", "mastodon-api"]
graphql-api = [
    "dep:async-graphql",
    "dep:async-graphql-axum",
    "speedy-uuid/async-graphql",
]
mastodon-api = ["dep:kitsune-mastodon"]
meilisearch = ["kitsune-service/meilisearch", "kitsune-search/meilisearch"]
oidc = ["dep:kitsune-oidc"]

[lints]
workspace = true
