[package]
name = "kitsune-job-runner"
edition.workspace = true
version.workspace = true

[dependencies]
athena = { path = "../lib/athena" }
clap = { version = "4.4.6", features = ["derive"] }
color-eyre = "0.6.2"
deadpool-redis = "0.13.0"
kitsune-core = { path = "../crates/kitsune-core" }
kitsune-db = { path = "../crates/kitsune-db" }
kitsune-retry-policies = { path = "../crates/kitsune-retry-policies" }
mimalloc = "0.1.39"
tokio = { version = "1.32.0", features = ["full"] }
toml = "0.8.1"
tracing = "0.1.37"

[features]
