<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/template.css">
    <title>Token</title>
</head>
<body>
    <p class="header">alcohol.social</p>
    <div class="tokenContainer">
        <p>Copy & Paste this token into <span class="appName">alcohol</span></p>
        <code class="token">HE8X2699AERFSDF454ds5f4s65df46sd5f46s5d4f6s5d4f65s4f65s4df65sd6f5sdf312s0df32ze1320dsf2ez4984r  </code>
    </div>
</body>
</html>