<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" href="/public/template.css">-->
        <link rel="stylesheet" href="/template.css">
        <title>OAuth Token</title>
    </head>
    <body>
        <p class="header">{{domain}}</p>
        <div class="tokenContainer">
            <p>Copy & Paste this token into <span class="appName">{{app_name}}</span></p>
            <code class="token">{{token}}</code>
        </div>
    </body>
</html>
