[package]
name = "kitsune-type"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
iso8601-timestamp = "0.2.12"
serde = { version = "1.0.193", features = ["derive"] }
simd-json = "0.13.4"
smol_str = { version = "0.2.0", features = ["serde"] }
speedy-uuid = { path = "../../lib/speedy-uuid", features = ["serde"] }
utoipa = { version = "4.1.0", features = ["chrono", "uuid"] }

[dev-dependencies]
pretty_assertions = "1.4.0"
