[package]
name = "kitsune-type"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
iso8601-timestamp = { workspace = true }
serde = { version = "1.0.210", features = ["derive"] }
serde_with = { version = "3.9.0", default-features = false, features = [
    "alloc",
    "macros",
] }
smol_str = { version = "0.3.1", features = ["serde"] }
sonic-rs = { workspace = true }
speedy-uuid = { workspace = true, features = ["diesel"] }
strum = { version = "0.26.3", features = ["derive"] }

[dev-dependencies]
pretty_assertions = "1.4.0"
rstest = { version = "0.22.0", default-features = false }
serde_test = "1"

[lints]
workspace = true
