[package]
name = "kitsune-type"
version.workspace = true
edition.workspace = true

[dependencies]
iso8601-timestamp = "0.2.12"
serde = { version = "1.0.188", features = ["derive"] }
simd-json = "0.11.1"
smol_str = { version = "0.2.0", features = ["serde"] }
speedy-uuid = { path = "../../lib/speedy-uuid", features = ["serde"] }
utoipa = { version = "3.5.0", features = ["chrono", "uuid"] }

[dev-dependencies]
pretty_assertions = "1.4.0"
