@import 'tailwindcss';
@import '../../theme.css';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes:
		synthwave --default,
		cyberpunk;
}

@theme {
	--animate-caret-blink: caret-blink 1s infinite;

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
}
