<div class="post">
    <a href='{{ profile_url|escape("html") }}'>
        <div class="account-info">
            <img class="profile-picture" src='{{ profile_picture_url|escape("html") }}'
                alt="{{ display_name }}'s profile picture" />
            <div class="account-info__names">
                <strong>{{ display_name }}</strong>
                {{ acct|escape("html") }}
            </div>
        </div>
    </a>

    <a class="post__url" href='{{ url|escape("html") }}'>
        <div class="post__content">{{ content }}</div>
    </a>

    <div class="post__attachments">
        {% for attachment in attachments %}
        <div title='{{ attachment.description.as_deref().unwrap_or_default()|escape("html") }}'
            href='{{ attachment.url.as_str()|escape("html") }}'>
            {% if attachment.content_type.starts_with("audio") %}
            <audio src='{{ attachment.url|escape("html") }}' />
            {% else if attachment.content_type.starts_with("video") %}
            <video src='{{ attachment.url|escape("html") }}' controls />
            {% else %}
            <img src='{{ attachment.url|escape("html") }}'
                alt='{{ attachment.description.as_deref().unwrap_or_default()|escape("html") }}' />
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>