[package]
name = "kitsune-http-signatures"
version.workspace = true
edition = "2021"

[dependencies]
base64-simd = "0.8.0"
derive_builder = "0.12.0"
http = "0.2.9"
rayon = "1.7.0"
ring = { version = "0.16.20", features = ["std"] }
time = { version = "0.3.27", features = ["formatting", "parsing"] }
thiserror = "1.0.47"
tokio = { version = "1.32.0", features = ["sync"] }

[dev-dependencies]
pem = "3.0.1"
pkcs8 = { version = "0.10.2", features = ["alloc"] }
tokio = { version = "1.32.0", features = ["macros", "rt"] }
