[package]
name = "kitsune-http-signatures"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
base64-simd = "0.8.0"
blowocking = { path = "../../lib/blowocking" }
derive_builder = "0.13.0"
http = "1.0.0"
itertools = { version = "0.12.1", default-features = false }
ring = { version = "0.17.7", features = ["std"] }
time = { version = "0.3.34", default-features = false, features = [
    "formatting",
    "parsing",
] }
thiserror = "1.0.56"
typed-builder = "0.18.1"

[dev-dependencies]
pem = "3.0.3"
pkcs8 = { version = "0.10.2", features = ["alloc"] }
tokio = { version = "1.36.0", features = ["macros", "rt"] }

[lints]
workspace = true
