[package]
name = "kitsune-http-signatures"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
base64-simd = { version = "0.8.0", features = ["unstable"] }
derive_builder = "0.12.0"
http = "0.2.11"
kitsune-blocking = { path = "../kitsune-blocking" }
ring = { version = "0.17.7", features = ["std"] }
time = { version = "0.3.30", default-features = false, features = [
    "formatting",
    "parsing",
] }
thiserror = "1.0.50"
typed-builder = "0.18.0"

[dev-dependencies]
pem = "3.0.2"
pkcs8 = { version = "0.10.2", features = ["alloc"] }
tokio = { version = "1.34.0", features = ["macros", "rt"] }

[lints]
workspace = true
