@layer overrides {
    :root {
        --dark1: #0f1026;
        --dark2: #051c30;
        --dark3: #042f40;
        --shade1dark: #53a0c4;
        --shade1light: #afd7fa;
        --shade2dark: #935d7e;
        --shade2light: #d68fbc;
    }

    body, .repo_banner {
        background-color: transparent !important;
    }

    .artifacts {
        background-color: var(--dark2) !important;
    }

    html {
        background: radial-gradient(var(--dark1), black 120%) no-repeat fixed;
    }

    a:not(.button, .primary) {
        color: var(--shade1dark) !important;
        text-shadow: 0 0 5px var(--shade1dark) !important;
    }

    a:hover:not(.button, .primary) {
        color: var(--shade1light) !important;
        text-shadow: 0 0 5px var(--shade1light) !important;
    }

    h1, h2, h3, h4 {
        color: var(--shade2light) !important;
    }

    .title::after {
        background: var(--shade2light) !important;
    }
}